---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/ticker/btcusd
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8984498d4370a4657285cbec520fe57c"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"mid":"887.37","bid":"887.0","ask":"887.74","last_price":"888.09","timestamp":"1389097013.489226762"}'
  recorded_at: Tue, 07 Jan 2014 12:16:56 GMT
recorded_with: VCR 2.8.0
