---
http_interactions:
- request:
    method: post
    uri: https://api.bitfinex.com/v1/balances
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Bfx-Apikey:
      - <KEY>
      X-Bfx-Payload:
      - eyJyZXF1ZXN0IjoiL3YxL2JhbGFuY2VzIiwibm9uY2UiOiIxMzg5NTM2OTcxIn0=
      X-Bfx-Signature:
      - <Signature>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a0f0a6162de4298f5d1a5e9958ca2db8"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-92700095-92700244 NNNY CT(117 119 0) RT(1389536972592 552) q(0 0 2 -1)
        r(2 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"type":"deposit","currency":"btc","amount":"0.0","available":"0.0"},{"type":"deposit","currency":"usd","amount":"0.0","available":"0.0"},{"type":"exchange","currency":"btc","amount":"1.02552311","available":"1.00552311"},{"type":"exchange","currency":"ltc","amount":"0.9985","available":"0.9985"},{"type":"exchange","currency":"usd","amount":"2.58218168","available":"2.57218168"},{"type":"trading","currency":"btc","amount":"120.00688245","available":"120.00688245"},{"type":"trading","currency":"usd","amount":"0.00006525","available":"0.00006525"}]'
  recorded_at: Sun, 12 Jan 2014 14:29:34 GMT
recorded_with: VCR 2.8.0
