---
http_interactions:
- request:
    method: post
    uri: https://api.bitfinex.com/v1/orders
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Bfx-Apikey:
      - <KEY>
      X-Bfx-Payload:
      - eyJyZXF1ZXN0IjoiL3YxL29yZGVycyIsIm5vbmNlIjoiMTM4OTE2NjIwMSJ9
      X-Bfx-Signature:
      - <Signature>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"260bfa4e102a71b46657647e85b60c80"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":5265695,"symbol":"btcusd","exchange":null,"price":"123.0","avg_execution_price":"0.0","side":"buy","type":"exchange
        limit","timestamp":"1389165420.0","is_live":true,"is_cancelled":false,"was_forced":false,"original_amount":"0.01","remaining_amount":"0.01","executed_amount":"0.0"},{"id":5265698,"symbol":"btcusd","exchange":null,"price":"234.0","avg_execution_price":"0.0","side":"buy","type":"exchange
        limit","timestamp":"1389165422.0","is_live":true,"is_cancelled":false,"was_forced":false,"original_amount":"0.01","remaining_amount":"0.01","executed_amount":"0.0"},{"id":5265703,"symbol":"btcusd","exchange":null,"price":"1234.0","avg_execution_price":"0.0","side":"sell","type":"exchange
        limit","timestamp":"1389165424.0","is_live":true,"is_cancelled":false,"was_forced":false,"original_amount":"0.01","remaining_amount":"0.01","executed_amount":"0.0"}]'
  recorded_at: Wed, 08 Jan 2014 07:30:03 GMT
recorded_with: VCR 2.8.0
