---
http_interactions:
- request:
    method: post
    uri: https://api.bitfinex.com/v1/order/status
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Bfx-Apikey:
      - <KEY>
      X-Bfx-Payload:
      - eyJyZXF1ZXN0IjoiL3YxL29yZGVyL3N0YXR1cyIsIm5vbmNlIjoiMTM4OTE2NDQwNCIsIm9yZGVyX2lkIjo1MjYzNzA1fQ==
      X-Bfx-Signature:
      - <Signature>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"51f74fa09f4d01908f67cf6a6bb9450f"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":5263705,"symbol":"btcusd","exchange":null,"price":"1000.0","avg_execution_price":"0.0","side":"sell","type":"exchange
        limit","timestamp":"1389164332.0","is_live":false,"is_cancelled":true,"was_forced":false,"original_amount":"0.01","remaining_amount":"0.01","executed_amount":"0.0"}'
  recorded_at: Wed, 08 Jan 2014 07:00:06 GMT
recorded_with: VCR 2.8.0
